<!DOCTYPE html>
<html>
<head>
  <title>Ciheul - Smart News</title>
  <meta charset="utf-8" />
  <link href="static/css/landing_page.css" rel="stylesheet" />
</head>
<body>
  <header>
    <h1>Ciheul</h1>
  </header>
  <article>
    <p>Ciheul is a <strong>technology</strong> startup. We combine the best techniques from machine learning and natural language processing to build awesome products and services for you.</p>
    <p>We would be happy to keep you posted about the beta program and launch (your email won't be used for anything else.)</p>
    <label>E-mail address :</label>
    <input type="text" placeholder="Email Address">
    <input type="submit" value="Submit">

  </article>
  <footer>
  <hr />
    COPYRIGHT © 2014, CIHEUL. ALL RIGHTS RESERVED.
  </footer>
</body>
</html>
