<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title_head }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <!-- css -->
  <!--<link href="{{ STATIC_URL }}css/ciheul.css" rel="stylesheet" />-->
  <link href="http://127.0.0.1:8000/static/css/ciheul.css" rel="stylesheet" />
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
  <link
  href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css"
  rel="stylesheet" />
</head>

<body>
  {% block navbar %}{% endblock %}

  {% block container %}{% endblock %}

  {% block javascript %}{% endblock %}

</body>
</html>
