<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">x</button>
  <h2>Masuk atau Daftar</h2>
</div>

<div class="modal-body"> 
  <p>Masuk dengan menggunakan akun jejaring sosialmu agar lebih mudah.</p>
  <a href="/jendela24/login/facebook"><img src="/static/img/social/facebook-login.png" /></a>
  <a href="#" ng-click="login_twitter()"><img src="/static/img/social/twitter-login.png"  /></a>
  <button type="button" class="close" ng-click="login_twitter()"><img src="/static/img/social/twitter-login.png"  /></button>
</div>
